h1 {
	text-align: justify;
	text-align: center;
	color: green;
	border: solid;
	border-color: aquamarine;
}

.parent {
	font-size: 21px;
	color: blueviolet;
	border: 5px solid red;
}

.child {
	width: 50%;
	padding: 20px;
	margin: auto;
	border: 5px solid blue;
}

.parent2{
	color: yellowgreen;
	font-size: 18px;
}
.child2 {
	float: right;
}
